:root {
    --light: #f6f6f9;
    --primary: #35bfe6;
    --light-primary: #CFE8FF;
    --light-gray: #e4e4e4;
    --med-gray: #AAAAAA;
    --dark-gray: #85868b;
    --danger: #ff2b2b;
    --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #1b9d22d9;
    --light-success: #BBF7D0;
    --light-search: rgba(215, 96, 255, 0.386);
    --search: rgb(210, 75, 255);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Victor Mono', monospace;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    margin: 15px 0 5px 3px;
    padding: 15px 0 10px 20px;
    /* style the sidebar links more here! */
}

html {
    overflow-x: hidden;
}

body.dark {
    --light: #1811ae;
    --light-gray: #25252c;
    --dark-grey: #fbfbfb;
}

body {
    background-color: var(--dark-grey);
    overflow-x: hidden;
}

a .logo {
    display: flex;
}

.bx {
    margin-right: 20px;
    margin-left: -3px
}

.logo-span  {
    background-color: rgba(0, 0, 0, 0.13);
    margin: 2px;
    margin-left: 4px;
    border-radius: 50px;
    padding: 5px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar.close {
    width: 75px;   
}

.sidebar .logo {
    width: 92%;
    font-weight: 500;
    font-size: 24px;
    height: 100px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    box-sizing: content-box;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.sidebar .logo .logo-name span {
    color: var(--dark-gray)
}

.sidebar .logo .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

.sidebar .side-menu-bottom {
    margin-top: 130px;
}

.sidebar .side-menu li {
    height: 25px;
    background-color: transparent;
    border-radius: 48px 0 0 48px;
}

.sidebar .side-menu li.active {
    background-color: var(--light-gray);
    position: relative;
}

.sidebar .side-menu li.active::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--med-gray);
    z-index: -1;
} 

.sidebar .side-menu li.active::after {
    content: "";
    position: absolute;
    width: 48px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--med-gray);
    z-index: -1;
} 

.sidebar li a {
    background-color: var(--light);
    align-items: center;
    border-radius: 48px;
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
    color: var(--dark-gray);
}

.sidebar .side-menu-top li.active a {
    color: var(--success);
}

.sidebar-close .side-menu.top .side-menu-bottom li a {
    width: calc(100px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu-top .side-menu-bottom li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu-bottom li a.logout {
    color: var(--danger)
}

.content {
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content {
    width: calc(100% - 60px);
    left: 60px;
}

.content nav {
    height: 56px;
    background-color: var(--light);
    padding: 0 24px 0 0;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content nav::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);
}

.content nav a {
    color: var(--dark-gray);
}

.content nav .bx.bx-menu {
    cursor: pointer;
    color: var(--dark-gray);
}

.content nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.nav-profile-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    z-index: -100;
}

.content nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

.content nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background-color: var(--light-gray);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--dark-gray)
}

.search-btn {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content nav form .form-input button {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--light);
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    padding-left: 20px;
    cursor: pointer;
}

.content nav .notification {
    font-size: 20px;
    position: relative;
    left: 20px;
}

.content nav .notification .count {
    position: absolute;
    font-size: 13px;
    top: -6px;
    right: 19px;
    width: 26px;
    height: 26px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    padding: 2px;
    border: 3px solid var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content nav .theme-toggle {
    display: block;
    min-width: 50px;
    height: 25px;
    background-color: var(--light-gray);
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.content nav .theme-toggle::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background-color: var(--primary);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.content nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

.content main {
    width: 100%;
    padding: 36px 24px;
    max-height: calc(100vh - 56x);
    z-index: 1100;
}

.content main .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

.content main .header .left h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark-gray);
}

.content main .header .left .breadcrumb {
    display: flex;
    align-items: center;
    grid-gap: 16px;
}

.content main .header .left .breadcrumb li {
    color: var(--med-gray);
}

.content main .header .left .breadcrumb li a {
    color: var(--dark-gray);
    pointer-events: none;
}

.content main .header .left .breadcrumb li a.active {
    color: var(--primary);
    pointer-events: none;
}

.content main .header .report {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background-color: var(--primary);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    font-weight: 300;
}

.content main .insights {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 36px;
}

.content main .insights li {
    padding: 24px;
    background-color: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}

.content main .insights li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .insights li:nth-child(1) .bx {
    background-color: var(--light-primary);
    color: var(--primary);
}

.content main .insights li:nth-child(2) .bx {
    background-color: var(--light-warning);
    color: var(--warning);
}

.content main .insights li:nth-child(3) .bx {
    background-color: var(--light-search);
    color: var(--search);
}

.content main .insights li:nth-child(4) .bx {
    background-color: var(--light-success);
    color: var(--success);
}

.content main .insights li .info h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--dark-gray);
}

.content main .insights li .info p {
    color: var(--dark-gray)
}

.content main .bottom-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark-gray)
}

.content main .bottom-data>div {
    border-radius: 20px;
    background-color: var(--light);
    padding: 24px;
    overflow-x: auto;
}

.content main .bottom-data .header {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}

.content main .bottom-data .header h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

.content main .bottom-data .header .bx {
    cursor: pointer;
}

.content main .bottom-data .orders {
    flex-grow: 1;
    flex-basis: 500px;
}

.content main .bottom-data .orders table {
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th {
    padding-bottom: 14px;
    margin: 5px 0;
    font-size: 12px;
    text-align: left;
    border-bottom: 1px solid var(--med-gray);
}

.content main .bottom-data .orders table tr td:first-child {
    padding: 10px;
    display: flex;
    align-items: center;
    grid-gap: 12px;
}

.content main .bottom-data .orders table tbody tr {
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .bottom-data .orders table tbody tr:hover {
    background-color: var(--light-gray);   
}

.content main .bottom-data .orders table tr td .status{
    font-size: 12px;
    padding: 4px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 500;
}

.content main .bottom-data .orders table tr td .status.complete {
    background: var(--success);
}

.content main .bottom-data .orders table tr td .status.processing {
    background: var(--primary);
}

.content main .bottom-data .orders table tr td .status.pending {
    background: var(--warning);
}

.content main .bottom-data .reminders {
    flex-grow: 1;
    flex-basis: 300px;
}

.content main .bottom-data .reminders .task-list {
    width: 100%;
}

.content main .bottom-data .reminders .task-list li {
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--light-gray);
    padding: 14px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content main .bottom-data .reminders .task-list li .task-title {
    display: flex;
    align-items: center;
}

.content main .bottom-data .reminders .task-list li .task-title p {
    margin-left: 6px;
}

.content main .bottom-data .reminders .task-list li .bx {
    cursor: pointer;
}

.content main .bottom-data .reminders .task-list li.completed {
    border-left: 10px solid var(--success);
}

.content main .bottom-data .reminders .task-list li.not-completed {
    border-left: 10px solid var(--danger);
}

.content main .bottom-data .reminders .task-list li:last-child {
    margin-bottom: -2px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .content {
        width: calc(100% - 60px);
        left: 200px;
    }
}

@media screen and (max-width: 576px) {
    .content nav form .form-input input {
        display: none;
    }
    .content nav form .form-input button {
        width: auto;
        height: auto;
        background-color: transparent;
        color: var(--med-gray);
        border-radius: none;
    }

    .content nav form.show .form-input input {
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button {
        width: 36px;
        height: 100%;
        color: var(--light);
        background-color: var(--danger);
        border-radius: 0 36px 36px 0;
    }
    .content nav form.show~.notif, .content nav form.show {
        display: none;
    }
}
